<html>
<head>
    <title>Emotion</title>
</head>
<body>
    <h1>Predictor on <a href='/'>progress</a>!</h1>

    <form method="post">
        <input name="text" type="text" />
        <input type="submit" value="Check!" />
    </form>

    {% if context is not none%}
    <p>
        <code>
        &ldquo;{{ context['input_text']|safe }}&rdquo; is a <strong>{{ context['clf_result']|safe }}</strong>
        </code>
    </p>
    {% endif %}

    <p>
        Spam 14 nums, please
    </p>

</body>
</html>  
